.main{
    background-color: gray;
    height: 780px;
    width: 1750px;
    overflow-y: hidden;
    font-size: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}