<!-- <div style="text-align:center">
  <h1>
    Routing Application
  </h1>
</div>
<nav>
	<a routerLink="/departments" routerLinkActive="active">Departments</a>
	<a routerLink="/employees" routerLinkActive="active">Employees</a>
</nav> -->

<div>ngModel</div>
<input [(ngModel)]="value" />
<p>You entered {{ value }}</p>

<div>Pushing Value through keys</div>
<input (keyup.enter)="newValue = $any($event.target).value" />
<p>After hitting enter=> {{ newValue }}</p>

<input (keyup.control.shift.enter)="value1 = $any($event.target).value" />
<p>after hitting ctrl+shift+enter all together=> {{ value1 }}</p>

<br />
<div>ngSwitch</div>
<div class="card-body">
  <select [(ngModel)]="selectedValue1">
    <option *ngFor="let item of items" [value]="item.name">
      {{ item.name }}
    </option>
  </select>

  <div [ngSwitch]="selectedValue1">
    <p *ngSwitchCase="'One'">One is Selected</p>
    <p *ngSwitchCase="'Two'">Two is Selected</p>
    <p *ngSwitchCase="'Two'">Two Again used in another element</p>
    <p *ngSwitchDefault>This is Default</p>
  </div>
</div>
<router-outlet></router-outlet>
