<div style="display: flex; justify-content: space-between; width: 50%;">
  <h2>
    {{ Hidden ? "Hello World " : "next table " }}
  </h2>
  <button (click)="switch()">{{ Hidden ? "Hello World" : "next table" }}</button>
</div>

<div *ngIf="Hidden">
  <input type="text" [(ngModel)]="name" />
  <input type="text" [(ngModel)]="emp" />
  <button (click)="add()">Add Me</button>
  <div>
    <table>
      <thead>
        <th>Name</th>
        <th>EmployeID</th>
      </thead>
      <tbody *ngFor="let item of group">
        <th>{{ item.name }}</th>
        <th>{{ item.emp }}</th>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="!Hidden">
  <ul class="list-group">
    <div *ngFor="let post of posts" class="list-group-item">
      {{ post.id }}
      {{ " - " + post.title }}
    </div>
  </ul>
</div>
