<h2>{{Hidden ? "Hello World" : "next table"}}<button (click)="switch()">Diagram</button></h2>

<div *ngIf="Hidden">
  <input type="text" [(ngModel)]="name" />
  <input type="text" [(ngModel)]="emp" />
  <button (click)="add()">Add Me</button>
  <div>
    <table>
      <thead>
        <th>Name</th>
        <th>EmployeID</th>
      </thead>
      <tbody *ngFor="let item of group">
        <th>{{ item.name }}</th>
        <th>{{ item.emp }}</th>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="!Hidden">
  <ul class="list-group">
    <li *ngFor="let post of posts" class="list-group-item">
      {{ post.title }}
    </li>
  </ul>
</div>
